<div id="contact" class="block">
  <ul class="inline-list">
    <li><a class="normal" href="/archives" alt="Archives" title="Archives">
      <img src="/images/archives-icon.png" alt="Archives" title="Archives"/></a></li>
    <li><a class="normal" href="http://twitter.com/shopledge" alt="Follow @shopledge on Twitter" title="Follow @shopledge on Twitter">
      <img src="/images/twitter-icon.png" alt="Follow @shopledge on Twitter" title="Follow @shopledge on Twitter"/></a></li>    
    <li class="link"><a href="#!" alt="Contact us by email" title="Contact us by email">
      <img src="/images/mail-icon.png" /></a></li>
    <li class="hidden contact">contact [@] shopledge.com<br/></li>    
  </ul>
</div>
