<div id="footer" class="block">
  <div class="container">
    <div id="text" class="block"><h2>&nbsp;</h2></div>
    <div id="icons" class="block">
      <table>
        <tr>
          <td class="shopify">
            <img src="/images/shopify.png" alt="Shopify" title="Shopify currently is the most affordable e-commerce service. We create themes for them."/></td>
          <td class="responsive">
            <img src="/images/responsive.png" alt="Mobile and tablet support"  title="All our designs are natively supporting mobile, smartphone and tablet displays."/></td>        
          <td class="wordpress">
            <img src="/images/wordpress.png" alt="Wordpress" title="Yes, we are runnning our own webshop on Wordpress since 2006."/></td>
          <td class="rails">
            <img src="/images/rails.png" alt="Rails" title="Yes, we understand programmers. In our spare time we create Ruby and Rails applications."/></td>
        </tr>
      </table>
    </div>
    {% include contact.html %}
  </div>
</div>



