<header id="header">  
  <hgroup id="logo">
    <ul class="inline-list">
    <li id="image"><a href="/"><span>
            &nbsp;&nbsp;&nbsp;___&nbsp;/\ <br/>
            \__/ <br/>
            &nbsp;*&nbsp;*
          </span></a>
    </li>
    <li id="title"><a href="/"><h1>{{ site.title }}</h1></a></li>
    <li id="strapline"><a href="/despre-noi"><h2>{{ site.strapline }}</h2></a></li>
  </hgroup>
  
  <div id="intro" class="box">
    <p>
      Are you running a small or medium e-commerce site?
    </p>
    <img src="/assets/arrow1.png" />
    <ul>
      <li>Grow your profit and sales while keep your costs low.</li>
    </ul>
  </div>
  
  <div id="about" class="box">
    <p>
      We are very succesful in online selling since 2007.
    </p>
    <img src="/assets/arrow2.png" />
    <ul>
      <li>60% growth rate with a 7% marketing budget.</li>
      <li>Ranking #1 in Google.</li>
    </ul>
  </div>
</header>
