<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    
    <title>{{ page.title | strip_html }}</title> 
    
    <link href="/assets/base.css" rel="stylesheet">
    <link href="/assets/layout.css" rel="stylesheet">
    <link href="/assets/theme.css" rel="stylesheet">  
    
    <link rel="stylesheet" href="/assets/mobile.css" media="screen and (max-width: 640px)" />
    <link rel="stylesheet" href="/assets/tablet.css" media="screen and (min-width: 641px) and (max-width: 1024px)" />
    <!--
    <link rel="stylesheet" href="/assets/wide.css" media="screen and (min-width: 1025px) and (max-width: 1399px)" /> 
    <link rel="stylesheet" href="/assets/large.css" media="screen and (min-width: 1400px)" />  
    -->
    <link rel="stylesheet" href="/assets/portrait.css" media="all and (orientation:portrait)" />    
    <script type="text/javascript" src="/assets/modernizr.custom.50763.js"></script>
  </head>

