<div id="infogr" class="block">
  <ul id="" class="inline-list">
    <li>Facebook</li>
    <li>Twitter</li>
    <li>Pinterst</li>
    <li>Other social networks</li>
  </ul>
  
  <ul id="" class="inline-list">
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
  </ul>
  
  <div id="" class="block">
    Get idea of what to sell
  </div>
  
  <div id="" class="block">
    buzzwords, needs, desires, trends
  </div>
  
  <ul id="" class="inline-list">
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>    
  </ul>
  
  <div id="" class="block">
    Fulfill these needs
  </div>
  
  <ul id="" class="inline-list">
    <li>By creating your own (content) products</li>
    <li>Aggregate products from similar players</li>    
  </ul>
  
  <ul id="" class="inline-list">
    <li><img src="{{ site.images}}/arrow-down.png"/></li>    
  </ul>
  
  <div id="" class="block">
    Distribute and sell on channels with feedback and engagement
  </div>
  
  <ul id="" class="inline-list">
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
  </ul>
  
  <ul id="" class="inline-list">
    <li>Facebook</li>
    <li>Twitter</li>
    <li>Pinterst</li>
    <li>Other social networks</li>
  </ul>
</div>
