<div id="infogr" class="article1 block">
  <ul id="" class="social-networks inline-list">
    <li><img src="{{ site.images}}/facebook.png"/></li>
    <li><img src="{{ site.images}}/twitter.png"/></li>
    <li><img src="{{ site.images}}/pinterest.png"/></li>
    <li class="last">Other social networks</li>
  </ul>
  
  <ul id="" class="social-networks inline-list">
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li class="last"><img src="{{ site.images}}/arrow-down.png"/></li>
  </ul>
  
  <div id="idea" class="action block">
    Get idea of what to sell
  </div>
  
  <div id="buzz" class="result block">
    buzzwords, needs, desires, trends
  </div>
  
  <ul id="create-arrows" class="create inline-list">
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li class="last"><img src="{{ site.images}}/arrow-down.png"/></li>    
  </ul>
  
  <div id="fulfill" class="action block">
    Fulfill these needs
  </div>
  
  <ul id="create" class="create result inline-list">
    <li>Create your own (content) products</li>
    <li class="last">Aggregate products from similar players</li>    
  </ul>
  
  
  <div id="distribute" class="result block">
    Distribute and sell on channels with feedback and engagement
  </div>
  
  <ul id="distribute-a" class="social-networks inline-list">
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li><img src="{{ site.images}}/arrow-down.png"/></li>
    <li class="last"><img src="{{ site.images}}/arrow-down.png"/></li>
  </ul>
  
  <ul id="distribute-i" class="social-networks inline-list">
    <li><img src="{{ site.images}}/facebook.png"/></li>
    <li><img src="{{ site.images}}/twitter.png"/></li>
    <li><img src="{{ site.images}}/pinterest.png"/></li>
    <li class="last">Other social networks</li>
  </ul>
</div>
