<div id="infogr" class="article1 block">
  <ul id="logos1" class="social-networks inline-list">
    <li>Facebook</li>
    <li>Twitter</li>
    <li>Pinterest</li>
    <li class="last">Other social networks</li>
  </ul>
  
  <div id="buzz" class="">
    Get the buzz
  </div>
  <img src="{{ site.images }}/arrow1.png" />
    
  <ul id="create" class="inline-list">
    <li><h1>Create original content products</h1></li>
    <li class="last"><h1>Curate similar content</h1></li>
  </ul>  
  
  <div id="engage" class="">
    Engage
  </div>
  <img id="arrow2" src="{{ site.images }}/arrow2.png" />
  
  <ul id="logos2" class="social-networks inline-list">
    <li>Facebook</li>
    <li>Twitter</li>
    <li>Pinterest</li>
    <li class="last">Other social networks</li>
  </ul>
</div>
