.container {
  width: 80%;
  margin: 0 auto;
}

.mobile {
  display: none;
}
.desktop {
  display: block;
}
.menu .desktop {
  display: inline-block;
}


/* Typography
*/


/* Stranded, em */
body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:3.23077em; padding:1.30935em 0; }
h2 { font-size:2.61538em; padding:1.28666em 0; }
h3 { font-size:2em; padding:1.25em 0; }
h4 { font-size:1.61538em; padding:1.30936em 0; }

h3 + h4 {
  padding-top: 0;
}

p + ul, p + ol {
  margin-top: 1.25em;
}
ul + p, ol + p {
  margin-top: 2.5em;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 1px dotted;
  display: block;
  font-size: larger;
  font-style: italic;
  margin: 1.25em;
  margin-bottom: 2.5em;
  padding-left: 1.25em;
  line-height: 2;
}

strong, blockquote em {
  font-weight: bold;
}



/* Infographics
*/


/* Turn visitors into customers */
.article4 {
  margin: 2.5em 0;
}
.article4 ul {
  list-style: none;
  width: 60%;
  margin-left: 0;
}
.article4 ul li #arrow1 {
  max-width: 25%;
}
.article4 ul li #text {
  position: relative;
  top: -5em;
  font-size: larger;
}
.article4 ul li#id2 {
  margin-left: 10%; 
}
.article4 ul li#id3 {
  margin-left: 20%; 
}


/* The Product is the Marketing */

.article1 {
  margin: 5em 0;
  padding: 1.25em;
}

.article ul li {  
  white-space: normal;
}

.article1 .social-networks li {
  width: 20%;
  margin-right: 3%;
  text-align: center;
}
.article1 .social-networks li.last {
  margin-right: 0;
}

.article1 #buzz {
  position: relative;
  top: 10em;
  left: 1em;
}

.article1 #create, .article1 #engage, .article1 #arrow2 {
  position: relative;
  top: -5em;
}
.article1 #create {
  left: 10em;
}
.article1 #create li {
  width: 45%;
  margin-right: 5%;
}
.article1 #create li.last {
  margin-right: 0;
}
.article1 #create h1 {
  padding: 0;
  margin-left: 5%;
}

.article1 #arrow2, .article #engage {
  float: right;
}
.article1 #engage {
  right: 2em;
  top: 5em;
}

.article #logos2 {
  margin-top: 15em;
} 




/* Run Profitable Campaigns */
.article2 {
  font-size: larger;
  margin: 2.5em 0;
  padding-bottom: 2.5em;
}
.article2 td {
  vertical-align: middle;
}
.article2 ul {
  margin: 0;
  list-style: none;
}
.article ul li.op {
  margin-left: 20%;
}



/* Key metrics of an ecommerce site */
#conversion-rate td {
  text-align: center;
}
#chart_conversion_rate {
  width: 40em;
  height: 30em;  
  position: static !important;
}
.chart {
  margin: 2.5em 0;
}

.article3 {
  margin-bottom: 2.5em;
}
.article3 ul {
  list-style: none;
  font-size: 2em;
  margin-left: 1.25em;
  display: none;
}
.article3 ul div {
  font-size: smaller;
  display: none;
}
.article3 h3 {
  padding: 3% 1%;
  cursor: pointer;
}
.article3 h4 {
  padding: 0;
  cursor: pointer;
}
.article .plus {
  float: right;
}






/* Startpage & header
*/

.startpage #header #title,
.startpage #intro, .startpage #about {
  display: inline-block;
} 
.startpage #header #strapline {
  display: block;
}
.startpage #header .menu,
.startpage footer {
  display: none;
}

.startpage #header {
  text-align: center;
}

.startpage #logo {
  position: fixed;
  bottom: 2%;
  width: 80%;
  margin: 0 auto;
}
.startpage #intro {
  position: absolute;
  top: 20%;
  left: 5%;
}
.startpage #about {
  position: absolute;
  top: 10%;
  right: 5%;
}



#header #image {  
  height: 5em;
  width: 5em;
  font-family: none; 
  margin-right: 1.25em;
  text-align: center;
}
#header #image span {
  font-size: 1em;
  position: relative;
  top: .7em;
  right: .2em;
}
.startpege #header #strapline {
  width: 100%;
}
.startpage header #strapline h2 {
  padding-top: 0;
}


.box {
  width: 10em;
  height: 10em;
  padding: 2.5em;
  border-radius: 10em;
}
.startpage .box p {
  padding-top: 2.5em;
}
.startpage .box ul {
  list-style: none;
}


/* Page
*/

#header #title, #header #strapline,
#intro, #about {
  display: none;
} 

.page #header, .article #header {
  position: fixed;
  z-index: 1;
  height: 7.5em;
}
.page #content, .article #content {
  position: relative;
  margin-top: 7.5em;
}


.page #title {  
  width: 25%;
  float: right;
}
.article #article, .page #body {
  width: 65%;
  margin-right: 5%;
  float: left;  
}

.page ul {
  list-style: none;
  margin: 0;
}


.learn #header #articles,
.contact #header #contact,
.how #header #how {
  display: none;
}




/* Article index
*/

.learn #item {
  margin-bottom: 15em;
}

.learn .excerpt {
  margin: .625em 0;
}

.excerpt {
  font-size:4.23077em;
  padding: 1.25em;
}


/* Article
*/

#article {
  margin-bottom: 5em;
}

#article #info {
  margin: 2.5em 0;
  font-size: larger;
}
#article #info #subscribe,
#article #info #buy  {
  padding: 0 1.25em 2.5em;
}
#article #buy input[type=image] {
  width: auto;
}
#article #buy #cart {
  margin: 2.5em 0;
}
#article #buy #cart form, #article #buy #cart #price {
  width: auto;
  float: left;
}
#article #buy #cart #price {
  cursor: auto;
}

#article #info #help {
  margin-top: .625em;
}
#article #info #help span {
  font-size: smaller;
}
#article #info #help #shipping {
  position: relative;
  top: -10em;
  left: 30em;
}


#comments {
  margin: 1.25em 0;
  padding: 1.25em 0;
}
#comments h3 {
  font-size: 1.25em;
}




/* Footer
*/

footer {
  margin: 0 0 2.5em;
}

.page footer {
  margin-top: 15em;
}

