.container {
  width: 90%;
}

.mobile {
  display: block;
}
.menu .mobile {
  display: inline-block;
}
.desktop {
  display: none !important;
}




/* Traditional */
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.75em; padding:1.51786em 0; }
h2 { font-size:1.5em; padding:1.45833em 0; }
h3 { font-size:1.33333em; padding:1.25em 0; }
h4 {  font-size:1.16667em; padding:1.51785em 0; }

.excerpt {
  font-size: 2em;
}

p + p {
  margin-top: .625em;
}
table {
  margin-bottom: 1.25em;
}

img {
  width: 100%;
  height: auto;
}



/* Startpage
*/

.startpage #logo {
  width: auto;
  display: block;
  position: relative;
  margin-top: 5em;
}
.startpage li#strapline {
  white-space: normal;
}

.startpage #intro, .startpage #about {
  display: none;
}



/* Article index
*/

.page #title {  
  display: none;
}
.article #article, .page #body {
  width: 100%;
  margin-right: 0;
  float: left;  
}

li#articles, li#contact, li#how {
  font-size: smaller;
}


/* Article
*/

.article #article {
  width: 100%;
}

#suscribe-email {
  margin: 1.25em 0;
  display: inline-block;
}

#article #info #help {
  width: 100%;
  float: left;
  text-align: center;
  padding: .312em 0 1.25em;
}

#article #info #help #shipping {
  position: relative;
  top: 1em;
  left: 0.5em;
  font-size: small;
}
#article #info #help #shipping ol {
  margin: .625em 1.25em;
}



/* Infographics
*/

.article1 #create {
  left: 1em;
}
.article1 img {
  width: 20%;
}



